/* Wrapper */

.carousel-wrapper {
  width: 100%;
  max-width: 900px;

  margin: auto;

  position: relative;

  overflow: hidden; /* Hide other slides */

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Track */

.carousel-track {
  display: flex;

  width: 100%;

  transition: transform 0.6s ease-in-out;
}

/* Slide */

.carousel-item {
  min-width: 100%; /* One slide = full width */
  flex-shrink: 0;

  display: flex;
  justify-content: center;
}

/* Buttons */

.carousel-btn {
  position: absolute;

  background: rgba(0, 0, 0, 0.7);
  color: white;

  border: none;

  font-size: 22px;

  padding: 10px 14px;

  border-radius: 50%;

  cursor: pointer;

  z-index: 10;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.carousel-btn:hover {
  background: black;
}




