.card {
  width: 300px;
  padding: 16px;
  border-radius: 12px;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.8);
  text-align: center;
  margin: 20px;
 
}

.card-image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.card-title {
  font-size: 20px;
  margin-top: 10px;
}

.card-description {
  font-size: 14px;
  color: #333;
}

.card-button {
  margin-top: 12px;
  padding: 8px 16px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card-button:hover {
  background: #005fcc;
}
