.card {
  width: 90%; /* Slight margin inside slide */
  max-width: 400px;

  padding: 16px;

  border-radius: 12px;

  backdrop-filter: blur(6px);
  background: rgba(78, 77, 77, 0.85);

  box-shadow: 0px 4px 12px rgba(0,0,0,0.5);

  text-align: center;

  margin: auto;
}

.card-image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.card-title {
  font-size: 20px;
  margin-top: 10px;
  color:white;

}

.card-description {
  font-size: 14px;
  color:white;
}

.card-button {
  margin-top: 12px;
  padding: 8px 16px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card-button:hover {
  background: #005fcc;
}
