.navbar-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  text-align: center;
  justify-content: end;
  padding-top: 5px;
  padding-right: 20px;
  align-items: center;
}
.navbar-menu a {
  display: inline;
  text-decoration: none;
  color:black;
  font-size: larger;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-menu a:hover {
  color: #007bff;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 800px;
    border-radius: 20px;
    align-items: center;
    margin: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    
}
.login-button{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

