
.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(D:\projects\vite-project\FrontEnd\src\assets\Home1.jpg);
    background-size: cover;
    align-items: center;
}
.homecont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}
.home-left, .home-right {
    flex: 1;
    display: flex;
    justify-content: center;
}