.login-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image:url(D:\projects\vite-project\FrontEnd\src\assets\login.jpg);
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 400px;
    padding-top: 10px;
    width: 400px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container div{
    margin-bottom: 10px;
}
.container input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.container button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}   