.login-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image:url(D:\projects\vite-project\FrontEnd\src\assets\login.jpg);
    background-size: cover;
}
.container{
    display: flex;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 400px;
    padding-top: 10px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.container div{
    margin-bottom: 10px;
}